:root {

    /* Colors */

    --background-primary: #ffffff;
    --background-second: #132238;
    --background-three: #A53DFF;

    /* Margens, Paddings e Bordas */

    --margin-body: 0px 300px;
    --padding-cards: 40px;
    --border-radius: 6px;

    /* Transições */

    --transition-1: all .3s ease;
    --transition-2: all .4s ease;
    --transition-3: all .5s ease;
}

* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--background-primary);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
#root {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 100px);
    justify-content: center;
    gap: 24px;
    margin: 0px 300px;
    z-index: 1;
    transition: var(--transition-2);
}
.App {
    position: relative;
    width: 100%;
    grid-column: span 12;
    transition: var(--transition-2);
}
/* .sombra1 {
    position: absolute;
    width: 1000px;
    height: 1000px;
    opacity: 0.8;
    background-color: #7C2EBF;
    border-radius: 1000px;
    box-shadow: 600px 600px 600px;
    filter: blur(600px);
    margin-left: 600px;
    margin-top: 40px;
} */
@media (max-width: 1460px) {
    #root {
        transition: var(--transition-2);
        grid-template-columns: repeat(10, 100px);
    }
    .App {
        transition: var(--transition-2);
        grid-column: span 10;
    }
}
@media (max-width: 1220px) {
    #root {
        transition: var(--transition-2);
        grid-template-columns: repeat(8, 100px);
    }
    .App {
        transition: var(--transition-2);
        grid-column: span 8;
    }
}
@media (max-width: 960px) {
    #root {
        transition: var(--transition-2);
        grid-template-columns: repeat(6, 100px);
    }
    .App {
        transition: var(--transition-2);
        grid-column: span 6;
    }
}
@media (max-width: 720px) {
    #root {
        grid-template-columns: repeat(4, 100px);
        gap: 14px;
        margin: 0 auto;
        transition: var(--transition-2);
    }
    .App {
        transition: var(--transition-2);
        grid-column: span 4;
    }
}
@media (max-width: 420px) {
    #root {
        grid-template-columns: repeat(4, 85px);
        gap: 14px;
        margin: 0 auto;
        transition: var(--transition-2);
}
}