a {
    text-decoration: none;
    color: var(--background-second);
    font-weight: 500;
}
.container_navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
#btn_contato {
    padding: 10px 14px;
    background-color: var(--background-three);
    border-radius: var(--border-radius);
    color: var(--background-primary);
}
.btn_menu {
    display: none;
}